body {
    font-family: "Montserrat";
    font-size: 14px;
    overflow-x: hidden;
}
.navbar {
    padding: 2.2rem 1rem;

    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .dropdown-menu {
    font-size: 13px;
    font-weight: 300;
}

h1 {
    font-family: inherit;
    font-size: 36px;
    font-weight: 800;
}
h2 {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
}
.block_step__caption,
.block_advantage__info {
    margin: 30px auto 10px;
}
.block_step__caption p {
    font-family: inherit;
    font-size: 18px;
    font-weight: 800;
    color: #3B3B3B;
}
.form_title {
    margin: 75px auto;
    padding-left: 0;
}

body .navbar-light .navbar-nav .nav-link,
h1, h2 {
    color: #4F4F4F;
}
body .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
.navbar-nav {
    /*padding-right: 40px;*/
}
.block-info,
.block_step,
.block-home {
    padding-top: 75px;
    padding-bottom: 75px;
}

.block_advantage__img_1,
.block_advantage__img_2,
.block_advantage__img_3,
.block_advantage__img_4 {
    width: 116px;
    height: 116px;
    border-radius: 60px;
}
.step_background {
    background-color: #253992 !important;
}

.block_advantage__img_1 {
    background: url(../img/icon_price.png) center/auto no-repeat;
}
.block_advantage__img_2 {
    background: url(../img/icon_amount.png) center/auto no-repeat;
}
.block_advantage__img_3 {
    background: url(../img/icon_register.png) center/auto no-repeat;
}
.block_advantage__img_4 {
    background: url(../img/icon_region.png) center/auto no-repeat;
}


/*STEPS*/
.block_step__item svg {
    fill: #4F4F4F;
}
.block_step__item.active svg {
    fill: #ffffff;
}
.block_step__img {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #F0F0F0;
}
.block_step__item.active .block_step__img {
    background-color: #253992;
}


.block_step__item,
.block_advantage__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
img.logo {
    width: 120px;
}
.btn-primary,
.fl_upld label {
    background-color: #253992;
    border-color: #253992;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    /*max-height: 50px;
    width: 245px;*/
    padding: 12px 20px;
    min-width: 200px;
    /*max-width: 250px;*/
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #0300BD;
    border-color: #0300BD;
}
.btn-check {
    font-size: 12px;
    color: #0300BD;
    background-color: #fff;
    border-color: #0300BD;
    height: 70px;
}
body .form-group {
    padding-left: 5px;
    padding-right: 5px;
}
.form-group label {
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
}
span.star {
    color: red;
}
/*---всплывающие подсказки---*/
.question {
    color: #253992;
    font-weight: 700;
    border: 2px solid #253992;
    border-radius: 12px;
    padding: 0 6px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
}
.question:hover,
.question:active,
.question:focus {
    color: #F2C94C;
    border: 2px solid #F2C94C;
}
.answer {
    position: absolute;
    /*bottom: 115px;*/
    top: -70px;
    /* left: 80px; */
    border-left: 10px solid #F2C94C;
    padding: 20px 10px;
    /* visibility: hidden; */
    display: inline-block;
    width: 480px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #F2C94C; /* цвет стрелочки (по умолчанию #000)*/
    opacity: 1;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #F2C94C; /* цвет стрелочки (по умолчанию #000)*/
    opacity: 1;
}
.tooltip-inner {
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    font-style: normal;
    line-height: 25px;
    /*;
    position: absolute;
    width: 450px;
    left: 135px;
    */


    max-width: 400px;
    width: 100%;
    color: #000000;
    text-align: left;
    background-color: #fff;
    border-radius: 0;
    border-bottom: 10px solid #F2C94C;

    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    /*box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 4px 10px 30px 0px #0000000D;

    border: 1px solid rgba(0, 0, 0, 0.05);

    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.05);*/

}
/*------*/
.form_title h2.line:after {
    content: "";
    width: 82px;
    height: 6px;
    top: 30px;
    left: 0px;
    position: absolute;
    background: #F2C94C;
}
.block-info h1:after,
.block-home h1:after {
    content: "";
    width: 130px;
    height: 15px;
    left: 15px;
    position: absolute;
    background: #F2C94C;
}
.block-info h1:after {
    top: 60px;
}
.block-home h1:after {
    top: 100px;
}
.block_step__img:after {
    content: "";
    width: 235px;
    height: 2px;
    top: 83px;
    /* left: 260px; */
    position: absolute;
    background: #E0E0E0;
    right: -120px;
}
.block_step__item:last-child .block_step__img:after {
    content: unset;
}
@media screen and (max-width: 1199px) {
    .block_step__img:after {
        width: 150px;
        right: -75px;
    }
}
@media screen and (max-width: 991px) {
    .block_step__img:after {
        width: 110px;
        right: -56px;
    }
    .block-info h1,
    .block-home h1 {
        font-size: 25px;
        font-weight: 800;
    }
    .block-info h1 .last-word:after {
        width: 100px;
        height: 7px;
        top: 40px;
        left: 15px;
    }
    .block-home h1:after {
        width: 100px;
        height: 7px;
        top: 70px;
        left: 15px;
    }
    .block-info button {
        font-size: 18px;
    }
    .block-receipt-btn,
    .block-btn,
    .btn-block-check {
        display: flex;
        justify-content: center !important;
    }
    .table-receipt button {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .block_step__img:after{
        display: none;
    }
    .block-home h1:after {
        top: 100px;
    }
}
@media screen and (max-width: 380px) {
    .block-home h1:after {
        top: 160px;
    }
}
body .form-control,
body .custom-select {
    border-radius: unset;
    height: 70px;
    margin-bottom: 1rem;
}
body .form-check-label,
.table-check .form-control {
    font-weight: 400;
    font-size: 14px;
}
.select2-container .select2-selection--single,
.select2-search--dropdown .select2-search__field {;
    height: 70px !important;
    border-radius: unset;

    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5!important;
    color: #495057;
}
body .form-control:focus,
body .custom-select:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: unset;
    box-shadow: unset;
}
.select2-search--dropdown .select2-search__field {
    padding: .375rem .75rem !important;
    margin-top: 22px;
}
.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below,
.select2-container--bootstrap4 .select2-dropdown {
    border-color: black;
    border-top: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 3.5em;
}

.block-photo-vehicle {
    padding-top: 50px;
}
.block-photo-vehicle h2 {
    color: #253992;
}
.block-photo-vehicle .form_title {
    margin: unset;
}
hr {
    color: rgba(0, 0, 0, 0.1);
}
.save-button, .draft-button, .log-button {
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.block_advantage__info {
    font-size: 20px;
    font-weight: 500;
}
.draft-button,
body .btn-primary:disabled,
.fl_upld label {
    border-color: #E0E0E0;
    background: #E0E0E0;
    color: #4F4F4F;
}
body .btn-primary:disabled {
    cursor: not-allowed;
}
.draft-button:hover,
.fl_upld label:hover {
     border-color: #e0e0e0c2;
     background: #e0e0e0c2;
     color: #4F4F4F;
 }
/*---modal---*/
.modal-img {
    background: url(../img/ok.png) center/auto no-repeat;
    width: 50px;
    height: 45px;
    display: inline-flex;
    align-self: center;
    margin-bottom: 20px;
}
.modal-header{
    border-bottom: unset;
    flex-direction: column-reverse;
    align-items: center;
}
.modal-footer {
    border-top: unset;
}
.modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-body p {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
.modal-content {
    border-radius: unset;
    width: 930px;
    height: auto;
}
.block-download {
    border: 1px solid #ced4da;
    margin-bottom: 30px;
}
.modal-backdrop.show {
    opacity:.8;
}
/*body .modal-body .form-group {
    padding-left: unset;
    padding-right: unset;
}*/
.modal-header h2 {
    font-size: 20px;
}
/*------*/

/*---download file button---*/
.fl_upld {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#fl_inp,
#fl_inp2 {
    display:none;
}
.fl_upld label {
    cursor:pointer;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
}
#fl_nm,
#fl_nm2 {
    margin-top:20px;
    color:#f00;
}
/*------*/


.wrapper {
height: 700px;
left: 0px;
top: 112px;
background: linear-gradient(100.48deg, #253992 0%, #263FAD 100%);
margin-right: -15px;
margin-left: -15px;
}


.block-slide {
width: 100%;
height: 700px;
left: 0px;
top: 112px;
background: linear-gradient(100.48deg, #253992 0%, #263FAD 100%);
mix-blend-mode: normal;
}
.block-img {
background-image: url(../img/woman-working-office.png);
position: absolute;
background-repeat: no-repeat;
background-position: right;
background-position-y: bottom;
right: 0;
bottom: 50px;
width: 100%;
height: 100%;
background-size: contain;
z-index: 3;
}
.main-title {
    top: 80px;
}
.main-title p {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-shrink: 0;
}
.main-title span {
    font-size: 24px;
    font-weight: 500;
    color: #F2C94C;
}

/*---show|hide password---*/
.password {
    position: relative;
}
.password-control,
.password-confirm-control {
    position: absolute;
    top: 58px;
    right: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(../img/no-view.svg) 0 0 no-repeat;
}
/*-----*/

.pl_25 {
    padding-left: 25px !important;
}
.mb_50 {
    margin-bottom: 50px !important;
}
.mb_20 {
    margin-bottom: 20px !important;
}
.mb_30 {
    margin-bottom: 30px !important;
}
.mb_100 {
    margin-bottom: 100px !important;
}
.mr_30 {
    margin-right: 30px!important;
}


/*.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}*/

p.radio_label {
    display: inline-block;
    margin: auto 10px;
}
.block-btn {
    text-align: center;
    justify-content: flex-end;
    display: flex;
}
.block-btn a.btn {
    line-height: 25px;
}
.table-balance,
.table-receipt {
    /*padding-right: 5px;
    padding-left: 5px;*/

    padding-left: 0px;
    padding-right: 15px;
}
.table-price td,
.table-price th,
.table-balance td,
.table-balance th,
.table-receipt td,
.table-receipt th,
.table-check td,
.table-check th {
    width: 50%;
    height: 70px;
    border-top: unset;
    vertical-align: inherit;
    font-size: 16px;
}
.table-check td {
    font-size: 14px;
}
.table-price td,
.table-balance td,
.table-receipt td,
.table-check td {
    font-weight: 400;
    color: #828282;
}
.table-price th,
.table-balance th,
.table-receipt th,
.table-check th {
    font-weight: 700;
    color: #4f4f4f;
}
.table-price-title {
    margin-bottom: unset;
}
.table-order-list td,
.table-order-list th {
    text-align: center;
}
.table-check h2 {
    font-weight: 800;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}
.block-check p {
    font-size: 18px;
    color: #000000;
}
.input-group-balance > .input-group-prepend > .input-group-text,
.input-group-balance > .form-control {
    font-size: 16px !important;
    border-radius: unset;
    height: 70px !important;
}
@media screen and (max-width: 375px) {
    .input-group-balance > .input-group-prepend > .input-group-text,
    .input-group-balance > .form-control {
        font-size: 14px !important;
        padding: .5rem 0.3rem;
    }
}
.input-group-balance > .input-group-prepend > .input-group-text {
    width: 100%;
}
.input-group-balance > .input-group-prepend {
    width: 50%;
}
.input-group-balance .input-group-text {
    background-color: unset;
}
.nav-pills .nav-link.active {
    background-color: #F2C94C;
}
.tab-content > .active {
    border: 1px solid #bdbdbd;
    padding: 30px 0;


}
.order-filter {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
.order-filter a {;
    color: #A3A3A3;
}
.order-filter a:hover,
.order-filter a:hover,
.order-filter a:hover {;
    color: #253992;
    text-decoration: unset;
}
.order-filter a:after {
    color: #A3A3A3;
    content: "|";
    padding: 0 5px;
}
.order-filter a:last-child:after {
    content: unset;
}
.block-receipt h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin: 20px auto 40px;
}
.block-receipt-img {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}
.img-ok {
    background: url(../img/check.png) center/contain no-repeat;
    width: 50px;
    height: 45px;
}
.block-receipt-btn {
    min-width: 305px;
    display: flex;
    justify-content: end;
}
.block-receipt-btn button {
    font-size:14px;
    max-width: 250px;
    height: 70px;
}
.block-receipt form#form {
    width: 250px;
}
.block-receipt-btn a {
    font-size: 14px;
    max-width: 250px;
    margin-bottom: 20px;
    line-height: 45px;
}
.block_step__info {
    font-weight: 500;
}
.hide {
    display: none;
}
p.attention {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
p.attention > span.red,
.block-requisites span.red {
    color: #EB5757;
}
.block-requisites {
    padding-right: unset;
    padding-left: unset;
}
.block-requisites p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    text-align: center;
    padding: 0 10px;
}
.block-requisites a {
    color: #253992;
    font-weight: 700;
}
.block-requisites .input-group-text,
.block-requisites .form-control {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.block-requisites .input-group-text {
    border-right: unset;
    border-left: unset;
}
.block-requisites .form-control {
    border-right: unset;
}
.block-requisites h2,
input#balance {
    font-weight: 800;
}
.block-requisites h2 #balance,
input#balance,
span#balance {
    font-size: 18px !important;
    color: #4f4f4f;
}
.block-requisites h2 #balance,
span#balance {
    font-weight: 500;
}

/*TODO*/
.nav-pills .nav-link {
    height: 50px;
    text-align: center;
}

.nav-pills img {
    max-width: 100%;
    max-height: 100%;
}

.tab-pane {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
}
.payment-pills-tab .nav-link {
    height: 55px;
    border-radius: 0;
    margin-bottom: 15px;
    border: 1px solid;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
}
a.nav-link.active {
    border: unset !important;
}
.mark-status-done {
    color: green;
}
.block_advantage a {
    color: #253992;
}
.block_advantage a:hover,
.block_advantage a:focus,
.block_advantage a:active {
    color: #0300BD;
    text-decoration: unset;
}
#region_list th,
#region_list td {
    vertical-align: inherit;
}
#region_list .table-bordered thead th,
#region_list .table-bordered thead td {
    border-bottom-width: 1px;
    height: 80px;
}



/* My code start*/
.btn-reg-log a {
    line-height: 50px;
}
.btn-light {
    background-color: #fff;
    color: #253992;
    border-radius: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    width: 272px;
    height: 64px;
    margin: 15px;
}
.btn-primary-home {
    background-color: #253992;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    border: 1px solid #fff;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 45px rgba(255, 255, 255, 0.35));
    text-transform: uppercase;
    width: 272px;
    height: 64px;
    margin: 15px;
}
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: #253992;
    color: #fff;
    border: 1px solid #fff;
    outline: unset;
    box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.35);
}
.btn-primary-home:hover,
.btn-primary-home:active,
.btn-primary-home:focus {
    background-color: #fff;
    color: #253992;
    outline: unset;
    box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.35);
}
.btn-reg-log {
    position: absolute;
    left: 0px;
}
.woman-working {
    position: absolute;
    top: -22px;
    /*right: -180px;*/
}
@media screen and (min-width: 1350px) {
    .woman-working {
        right: -100px;
        height: 700px;
        top: 56px;
    }
}
@media screen and (max-width: 1350px) {
    .wrapper {
        height: 600px;
    }
    .main-title p {
        font-size: 46px;
    }
    .main-title span {
        font-size: 20px;
    }
    .woman-working {
        top: 15px;
        height: 640px;
        right: -30px;
    }
}
@media screen and (max-width: 1200px) {
    .wrapper {
        height: 500px;
    }
    .main-title {
        top: 50px;
        left: -30px;
    }
    .main-title p {
        font-size: 34px;
    }
    .main-title span {
        font-size: 16px;
    }
    .woman-working {
        top: 40px;
        right: 0px;
        height: 500px;
    }
}
@media screen and (max-width: 992px) {
    .wrapper {
        height: 450px;
    }
    .main-title {
        top: 50px;
        left: -30px;
    }
    .woman-working {
        top: 130px;
        right: -40px;
        height: 350px;
    }
}
@media screen and (max-width: 767px) {
    .wrapper {
        height: 470px;
    }
    .btn-reg-log {
        left: 65px;
    }
    .main-title {
        top: 30px;
        left: -70px;
    }
    .main-title .date-head {
        padding-left: 65px
    }
    .main-title p {
        font-size: 24px;
    }
    .woman-working {
        top: 82px;
        right: -30px;
        height: 300px;
    }
}
@media screen and (max-width: 576px) {
    .wrapper {
        height: 425px;
    }
    .btn-reg-log {
        left: 65px;
    }
    .main-title {
        top: 30px;
        left: -70px;
    }
    .main-title p {
        font-size: 18px;
    }
    .main-title .date-head {
        padding-left: 65px
    }
    .woman-working {
        top: 53px;
        right: -20px;
        height: 300px;
    }
    .btn-reg-log {
        display: grid;
    }
    .btn-light,
    .btn-primary-home {
        height: 50px;
        width: 200px;
        font-size: 16px;
    }
}
@media screen and (max-width: 420px) {
    .wrapper {
        height: 377px;
    }
    .woman-working {
        right: -10px;
    }
    .main-title span {
        font-size: 16px !important;
    }
    .woman-working {
        height: 200px;
        top: 100px;
    }
}


.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
/* My code finish */
